$light: rgba(255,255,255,1);
$dark: rgba(58,69,77,1);
$text: rgba(153,155,156,1);
$text_accent: rgba(51,51,51,1);
$btn_accent: rgba(35,183,164,1);
$btn2_accent: rgba(229,197,201,1);
$icon_accent: rgba(200,205,208,1);