section {
	padding: 50px 0; 
	margin: 30px auto;
	
	&:first-of-type {
		border-bottom: 1px solid rgba(153,155,156,0.3);
	}
}

.alternate {
	@include add-background($dark); 
	width: 100%;

	.header-deco {
		opacity: 0.3;
	}
}

/* ABOUT */
.ul-social {
	margin-top: 40px;
}

.about-side {
	padding-top: 10%;
	span {  //lg screen margin-left: -10px;
		display: inline-block;
		@include add-background($btn_accent);
		width: 50px;
		height: 50px;
		text-align: center;
		vertical-align: bottom;
		line-height: 50px;
	}  

	h5 {
		margin-top: 0px;
		font-weight: bold;
		opacity: 0.8;
	}

	p {
		margin-bottom: 30px;
	}
}
/* WHAT WE DO */

.media-cards {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

div[class*="card"] {
	margin-top: 30px;

	h5 {
		font-weight: bold;
		margin-bottom: 30px;
		opacity: 0.8;
	}

	span {
		display: inline-block;
		width: 55px;
		height: 55px;
		background: url('../img/icons.png') no-repeat;
		margin-bottom: 30px;
	}
}

.card1 span {background-position: 100% 0 !important;}
.card2 span {background-position: 100% 100% !important;}
.card3 span {background-position: 0 100% !important;}
.card4 span {background-position: 0 0 !important;}

/* MEET THE TEAM */

.content-center {
	text-align: center;
}

.team-unit {
	position: relative;
	display:block;
	width: 80%;
	max-width: 300px !important; 
	min-height: 350px;
	max-height: 450px;
	margin: 10px auto 50px auto;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;

	&.team1 {background-image: url('../img/team1.jpg');}
	&.team2 {background-image: url('../img/team2.jpg');}
	&.team3 {background-image: url('../img/team3.jpg');}
	&.team4 {background-image: url('../img/team2.jpg');}

	&:hover {
		.overlay-team-unit {
			opacity: 1;
		}
		.team-unit-footer {
			@include add-background($dark);
		}
	}
}

.overlay-team-unit {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
	background: rgba(200,205,208,0.5);
	text-align: center;
	opacity: 0;
	@include trans-all;

	a i {
		width: 40px;  //lg screen 60px
		height: 40px;
		text-align: center;
		line-height: 40px;
		vertical-align: middle;
		background: $dark;
		color: $light;
		margin-top: 45%;
		@include trans-all;

		&:hover {
			opacity: 0.7;
		}
	}
}

.team-unit-footer {
	display: block;
	position: absolute;
	top: 80%;
	left: 0;
	width: 100%;
	height: 20%;
	text-align: left;
	padding: 6% 0 0 7%;
	background: lighten($icon_accent, 10%);
	color: $dark;
	@include trans-all;
}

/* WORK */

.work-unit {
	display: inline-block;
	position: relative;
	margin-bottom: 15px;
	width: 90%;

	.img-responsive {
	width: 100%;
	margin: 0 auto;
} 
	.work-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(58,69,77, 0.7);
		z-index: 999;
		opacity: 0;
		@include trans-all;
	}
	
	i {
		display: inline-block;
		position: absolute;
		top: 38%;
		left: 47%;
		color: $light;

		&:hover {
			opacity: 0.7;
		}
	}

	.media-heading {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		display: inline-block;
		background: darken($dark, 10%);
		color: $light;
		padding: 30px;	
		line-height: 1em;	
		margin-bottom: 0px;
	} 
}

.work-unit:hover .work-overlay {
			opacity: 1;
			cursor: pointer;
		}

/* FEATURES */

.blog-unit {
	.media-body {
		padding: 40px 0 30px 0;

		p {
			color: darken($light, 10%);
			margin-top:20px;
		}
	}

	.img-responsive {
		width: 90%;
		margin: 0 auto;
		}
}

/* CONTACT  & FORM */
.row .relative {
		margin-left: 0;
		margin-right: 0;
}

.contact {
	display: block;
	margin-top: 40px;
	
	h4 {
		margin-bottom: 30px;
	}

	p:first-of-type {
		margin-bottom: 30px;
	}
}
.relative {
	position: relative;
}

#map {
	margin-bottom: 30px;
}

form {
	margin-top: 15px;
	box-sizing: border-box;
	
	.container {
		margin-left: 0;
		margin-right: 0;
	}
}

label {
	display: block;
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: $heading_slab;
	opacity: 0.5;
}

input {
	width: 100%;
	background: lighten($icon_accent, 10%);
	border-radius: 2px;
	padding: 10px;
	font-family: $text_slab;
}

textarea[name="msg"] {
	@extend input;
	display: block;
	height: 200px;
	padding: 14px;
	border-radius: 3px;
	margin-bottom: 10px;
	resize: none;
}

.form-group.col-xs-12 {
	padding: 0;
}